@using Dominio.Entidades
@model List<Pago>

@if (Model.Count > 0)
{
	<table>
		<tr>
			<th>Id</th>
			<th>Fecha</th>
            <th>Monto</th>
		</tr>


		@foreach (Pago pago in Model)
		{
			@if(pago is PagoRecurrente R)
			{
				<tr>
					<td>@R.Id</td>
					<td>@R.FechaDesde.ToString("yyyy-MM-dd")</td>
					<!--Calcula incremento de la cuota, se muestra solo el valor de la cuota-->
                    <td>@R.AplicarIncrementosYDescuentos(R.Monto)</td>

				</tr>
			}
			else if (pago is PagoUnico U)
			{
				<tr>
					<td>@U.Id</td>
					<td>@U.FechaPago.ToString("yyyy-MM-dd")</td>
					<!--Calcula el monto total-->
                    <td>@U.CalcularMonto()</td>
				</tr>
			}
		}

	</table>
}
else
{
}
